<section class="page-header section-sm">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="row g-4 g-lg-5 text-center text-lg-start justify-content-center justify-content-lg-start">
            <div class="col-lg-3 col-md-4 col-sm-5 col-6">
              <img class="img-fluid rounded" src="assets/assets/images/author/thomas-macaulay.jpg" alt="Thomas Macaulay" width="250" height="250">
            </div>
            <div class="col-lg-9 col-md-12">
              <p class="mb-2"><span class="fw-bold text-black">03</span> Published posts</p>
              <h1 class="h3 text-dark mb-3">Thomas Macaulay</h1>
              <div class="content">
                <p>Thomas Macaulay is a writer based in New York City. He&rsquo;s interested in all things tech, science, and photography related, and likes to yo-yo in his free time.</p>
                <p>Follow him <a target="_blank" href="https://twitter.com/thomas-macaulay">on Twitter</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="container">
    <div class="row gy-5 gx-4 g-xl-5">
      <div class="col-lg-6">
        <article class="card post-card h-100 border-0 bg-transparent">
          <div class="card-body">
            <a class="d-block" href="blog-single.html" title="The AGI hype train is running out of steam">
              <div class="post-image position-relative">
                <img class="w-100 h-auto rounded" src="assets/assets/images/blog/02.jpg" alt="The AGI hype train is running out of steam" width="970" height="500">
              </div>
            </a>
            <ul class="card-meta list-inline mb-3">
              <li class="list-inline-item mt-2">
                <i class="ti ti-calendar-event"></i>
                <span>05 Dec, 2021</span>
              </li>
              <li class="list-inline-item mt-2">—</li>
              <li class="list-inline-item mt-2">
                <i class="ti ti-clock"></i>
                <span>02 min read</span>
              </li>
            </ul>
            <a class="d-block" href="blog-single.html"
              title="The AGI hype train is running out of steam">
              <h3 class="mb-3 post-title">
                The AGI hype train is running out of steam
              </h3>
            </a>
            <p>The AGI hype train has hit some heavy traffic. While futurists and fundraisers used to make bullish predictions about artificial general intelligence, …</p>
          </div>
          <div class="card-footer border-top-0 bg-transparent p-0">
            <ul class="card-meta list-inline">
              <li class="list-inline-item mt-2">
                <a href="author-single.html" class="card-meta-author" title="Read all posts by - Thomas Macaulay">
                  <img class="w-auto" src="assets/assets/images/author/thomas-macaulay.jpg" alt="Thomas Macaulay" width="26" height="26"> by <span>Thomas</span>
                </a>
              </li>
              <li class="list-inline-item mt-2">•</li>
              <li class="list-inline-item mt-2">
                <ul class="card-meta-tag list-inline">
                  <li class="list-inline-item small"><a href="tag-single.html">Machine</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col-lg-6">
        <article class="card post-card h-100 border-0 bg-transparent">
          <div class="card-body">
            <a class="d-block" href="blog-single.html"
              title="Why developers are so divided over WordPress">
              <div class="post-image position-relative">
                <img class="w-100 h-auto rounded" src="assets/assets/images/blog/09.jpg" alt="Why developers are so divided over WordPress" width="970" height="500">
              </div>
            </a>
            <ul class="card-meta list-inline mb-3">
              <li class="list-inline-item mt-2">
                <i class="ti ti-calendar-event"></i>
                <span>12 Oct, 2020</span>
              </li>
              <li class="list-inline-item mt-2">—</li>
              <li class="list-inline-item mt-2">
                <i class="ti ti-clock"></i>
                <span>03 min read</span>
              </li>
            </ul>
            <a class="d-block" href="blog-single.html"
              title="Why developers are so divided over WordPress">
              <h3 class="mb-3 post-title">
                Why developers are so divided over WordPress
              </h3>
            </a>
            <p>After seeing WordPress top the most dreaded platform on Stack Overflow’s Developer Survey for two years
              in a row (2019 and 2020), a few weeks ago we …</p>
          </div>
          <div class="card-footer border-top-0 bg-transparent p-0">
            <ul class="card-meta list-inline">
              <li class="list-inline-item mt-2">
                <a href="author-single.html" class="card-meta-author" title="Read all posts by - Thomas Macaulay">
                  <img class="w-auto" src="assets/assets/images/author/thomas-macaulay.jpg" alt="Thomas Macaulay" width="26" height="26"> by <span>Thomas</span>
                </a>
              </li>
              <li class="list-inline-item mt-2">•</li>
              <li class="list-inline-item mt-2">
                <ul class="card-meta-tag list-inline">
                  <li class="list-inline-item small"><a href="tag-single.html">Work</a></li>
                  <li class="list-inline-item small"><a href="tag-single.html">Lifestyle</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col-lg-6">
        <article class="card post-card h-100 border-0 bg-transparent">
          <div class="card-body">
            <a class="d-block" href="blog-single.html"
              title="Why everyone is talking about ‘green steel’ at COP26">
              <div class="post-image position-relative">
                <img class="w-100 h-auto rounded" src="assets/assets/images/blog/06.jpg" alt="Why everyone is talking about ‘green steel’ at COP26" width="970" height="500">
              </div>
            </a>
            <ul class="card-meta list-inline mb-3">
              <li class="list-inline-item mt-2">
                <i class="ti ti-calendar-event"></i>
                <span>14 Sep, 2020</span>
              </li>
              <li class="list-inline-item mt-2">—</li>
              <li class="list-inline-item mt-2">
                <i class="ti ti-clock"></i>
                <span>03 min read</span>
              </li>
            </ul>
            <a class="d-block" href="blog-single.html"
              title="Why everyone is talking about ‘green steel’ at COP26">
              <h3 class="mb-3 post-title">
                Why everyone is talking about ‘green steel’ at COP26
              </h3>
            </a>
            <p>Among the rhetoric of climate change bingo and platitudes, there’s a term I’ve been hearing a lot at COP26 this week — green steel. But what is it, …</p>
          </div>
          <div class="card-footer border-top-0 bg-transparent p-0">
            <ul class="card-meta list-inline">
              <li class="list-inline-item mt-2">
                <a href="author-single.html" class="card-meta-author" title="Read all posts by - Thomas Macaulay">
                  <img class="w-auto" src="assets/assets/images/author/thomas-macaulay.jpg" alt="Thomas Macaulay" width="26" height="26"> by <span>Thomas</span>
                </a>
              </li>
              <li class="list-inline-item mt-2">•</li>
              <li class="list-inline-item mt-2">
                <ul class="card-meta-tag list-inline">
                  <li class="list-inline-item small"><a href="tag-single.html">Lifestyle</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>